# dependências
node_modules

# build
dist
dist-ssr

# logs
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ambiente
.env
.env.*
!.env.example

# editores / SO
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules/
.next/
dist/
build/
*.log
